.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 2rem;
  font-weight: bold;
  transition: text-decoration 0.2s;
}

.header .logo:hover {
  text-decoration: underline;
}
