.footer1 {
  display: block;
}

.linebreak {
  display: block;
}

.social {
  display: block;
}

.footer1 {
  margin: 0px 0px 64px;
}

.footer1 a {
  text-decoration: none;
  color: black;
}

.footer1 > :first-of-type {
  margin-bottom: 8px;
}

.footer1 a:hover {
  text-decoration: underline;
}

.footer2 {
  margin: 0px 0px 64px;
}

.footer3 {
  margin: 0px 0px 64px;
}

.box1 {
  background-image: url(../images/1.jpg);
}

.box2 {
  background-image: url(../images/2.jpg);
}

.box3 {
  background-image: url(../images/3.jpg);
}

.box4 {
  background-image: url(../images/4.jpg);
}

.box5 {
  background-image: url(../images/5.jpg);
}

.box6 {
  background-image: url(../images/6.jpg);
}

.box7 {
  background-image: url(../images/7.jpg);
}

.box8 {
  background-image: url(../images/8.jpg);
}

.box9 {
  background-image: url(../images/9.jpg);
}
